.edit {
	width: 30%;
	margin-left: 1em;
	border: 2px solid #00e9f3;
	color: #00e9f3;
}

#edit-input {
	width: 10%;
	font-size: 1.5rem;
	background: rgba(255, 255, 255, 0.82);
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

.get-id {
	margin-bottom: 1em;
}

.box-img-btn {
	max-width: 10vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-delete {
	background: red;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 6px 0px 6px;
}